@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 1.5rem;
      }
      
    /* Track */
    &::-webkit-scrollbar-track {
    background: #f1f1f1; 
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
    background: #888; 
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
    background: #555; 
    }
}

@mixin media($size) {
    @if $size == phone {
      @media (max-width: 599px) { @content; }
    } @else if $size == tablet-portrait {
      @media (max-width: 900px) { @content; }
    } @else if $size == tablet-landscape {
      @media (min-width: 1199px) { @content; }
    } @else if $size == desktop {
      @media (min-width: 1200px) { @content; }
    } 
  }