.Input {
    &.container {
        width: 100%;
        padding: 1.1rem 1.5rem;
        background-color: $gray-light;
        border: 1px solid #DFE5EA;
        border-radius: .3rem;
        cursor: text;
        &.error {
            border-color: red;
        }
    }
    .label {
        font-family: $sceondaryFont;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1rem;
        color: $gray;
        display: block;
        margin-bottom: .5rem;
        cursor: text;
    }
    .input {
        font-family: $sceondaryFont;
        font-style: normal;
        font-weight: normal;
        font-size: 1.3rem;
        line-height: 1.3rem;
        color: #334144;
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;
    }
}