.Hero {
    width: 100%;
    min-height: 50rem;
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
    background-color: rgba($color: #000000, $alpha: .5);
    .image {
        width: 100%;
        height: 50rem;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @include media(phone){
            width: 85vw;
        }

        .main-title {
            font-family: $mainFont;
            font-style: normal;
            font-weight: 600;
            font-size: 4rem;
            line-height: 4rem;
            text-align: center;
            color: $white;
            
            @include media(phone){
                font-weight: 300;
            }
        }
        .sub-title {
            font-family: $mainFont;
            font-style: normal;
            font-weight: normal;
            font-size: 1.7rem;
            line-height: 1.7rem;
            text-align: center;
            color: $white;
            mix-blend-mode: normal;
            opacity: 0.7;
            margin-bottom: 4.5rem;
        }
        .input-container {
            position: relative;
            .search {
                position: absolute;
                top: 50%;
                right: 2.5rem;
                transform: translateY(-50%);
                @include media(phone){
                    right: 1rem;
                }
            }

        }
        .input {
            height: 7rem;
            width: 100%;
            background: #FFFFFF;
            box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.05);
            border-radius: 0.3rem;
            font-family: $sceondaryFont;
            font-style: normal;
            font-weight: 300;
            font-size: 1.8rem;
            line-height: 1.8rem;
            padding: 0 1.9rem;
            color: $black;

            @include media(phone){
                padding-left: 1rem;
                padding-right: 3.2rem;
                font-size: 1.4rem;
                height: 5rem;
            }
            &::placeholder {
                color: $gray;
            }
        }
    }
    
}